.container
	{
  display: grid;
	grid-template-columns: 1fr 700px 1fr;
	grid-row-gap: 15px;
  height: 100%;
  width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	grid-auto-rows: 80px;

	> *
		{
		grid-column: 2/3;
		}
	}
