.container
	{
	border: 1px solid lightgrey;
	border-radius: 3px;
	box-shadow: 2px 2px 3px 0 grey;
	padding: 4px;
	display: grid;
	grid-template-columns: 80px 1fr auto auto;
	grid-column-gap: 5px;
	background-color: white;

	&.completed
		{
		text-decoration: line-through;
		}

	&:hover
		{
		border-left: 3px solid goldenrod;
		padding-left: 2px;
		.buttons
			{
			display: initial;
			}
		}
	}

.image
	{
	grid-row: 1 / 3;
	grid-column: 1;
	justify-self: center;
	align-self: center;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
	.completed &
		{
		filter: grayscale(100%);
		}
	}

.title
	{
	grid-row: 1;
	grid-column: 2;
	font-weight: 700;
	}

.text
	{
	grid-row: 2;
	grid-column: 2;
	font-size: 90%;
	color: grey;
	}

.category
	{
	grid-row: 1 / 3;
	grid-column: 3;
	text-transform: uppercase;
	font-size: 85%;
	justify-self: right;
	align-self: center;
	padding-right: 10px;
	}

.buttons
	{
	grid-row: 1/3;
	grid-column: 4;
	display: none;
	align-self: center;
	justify-self: center;
	button
		{
		border-radius: 5px;
		}
	}

.complete
	{
	border-color: lighten(green, 30%);
	background-color: green;
	color: white;
	}

.remove
	{
	border-color: lighten(red, 30%);
	background-color: red;
	color: white;
	}
