.container
	{
	border: 1px solid lightgrey;
	border-radius: 3px;
	box-shadow: 2px 2px 3px 0 grey;
	padding: 4px;
	display: grid;
	grid-template-columns: 100px 75fr 25fr;
	grid-column-gap: 5px;
	background-color: white;

	&:hover
		{
		border-left: 3px solid goldenrod;
		padding-left: 2px;
		}
	}

.image
	{
	grid-row: 1 / 3;
	grid-column: 1;

	> img
		{
		max-width: 180px;
		max-height: 100px;
		border-radius: 50%;
		}
	}

.title
	{
	grid-row: 1;
	grid-column: 2;
	}

.text
	{
	grid-row: 2;
	grid-column: 2;
	}

.category
	{
	grid-row: 1 / 3;
	grid-column: 3;
	text-transform: uppercase;
	font-size: 85%;
	justify-self: center;
	align-self: center;
	}
